# use highlighting until the merge of https://github.com/rtfd/readthedocs.org/pull/4096
sphinx_rtd_theme>=0.3.1
# sphinx-autodoc-typehints needs at least sphinx 1.8
sphinx>=1.8
sphinx-autodoc-typehints
